/* ---------------------- General ---------------------- */

.table {
    background-color: white;
    margin: 0 auto;
}

.table_authentication, .table_account {
    width:40%;
}

.header_summary {
    background-color: #05121e;
    line-height: 255%;
}

.img_go_home {
    width: 35%;
    margin: 0 auto;
}

body {
    width: 100%;
}

.menu: {
    padding-right: 5%;
}

.item_menu {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 2%;
    vertical-align: middle;
}



.text {
    font-family: 'Bebas Neue';
}

.title {
    text-align: center;
    font-weight: bold;
}

.title_main {
    color: #05121e;
    font-size: 3em;
}

.title_second {
    color: #05121e;
    font-size: 2.3em;
}

.title_third {
    color: #05121e;
    font-size: 1.5em;
}

.text_summary {
    color: white;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
}

.paragraph {
    font-size: 1.2em;
    color: #05121e;
}

.link_muscles {
    margin-left: 47%;
}

#intro {
    font-size: 1.2em;
    color: #05121e;
    text-align: center;
}

/* ---------------------- Home ---------------------- */

#summary, #list_customers {
    margin: 0 auto;
    background-color: white;
    width: 50%;
}

#image_cover {
    width: 100%;
}

.element_summary {
    line-height: 255%;
}

.width_field_update_form {
    width: 100%;
}

.update_button {
    margin-left: 5%
}

/* ---------------------- Results ---------------------- */

.result {
    width: 60%;
}

.img_result {
    margin-left: 15%;
    width: 70%
}

/* ---------------------- Detail ---------------------- */

#img_detail {
    margin-left: 25%;
    width: 50%
}

#exercice_detail {
    width: 75%;
}


/* ---------------------- Others ---------------------- */

#main {
    margin-left: -0.5%;
    margin-top: -0.5%;
}


#table_signin {
    width: 30%
}

#table_signup {
    width: 30%
}

#update_account {
    width: 50%
}

.button_add_favorite {
    margin-left: 35%;
}

#error_404 {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    margin-top : 20%;
    margin-left : 35%;
    width: 30%;
}

.table_favorite {
    margin-left: 10%
}
