#intro {
    font-size: 1.2em;
    color: #05121e;
    text-align: center;
}

#image_cover {
    width: 100%;
}

#home_image {
    margin-left: 10%;
}

.tables_home {
    columns: 2;
    width: 60%;
    margin-left: 17%;
    text-align: center;
    list-style: none;
}

.summary {
    margin: 0 auto;
    background-color: white;
    width: 30%;
}